.card-main {
    padding: 0 2%;
    text-align: center;
    .card {
        position: relative;
        border-width: 1px;
        width: 330px;
        height: 150px;
        margin: 10px;
        // float: left;
        background-color: #9139db;
        display: inline-block;
        .card-inner {
            position: relative;
            height: 100%;
            .shape {
                position: absolute;
                width: 0;
                height: 0;
                border-bottom: 100px solid rgba(216,216,216,.315);
                border-right: 100px solid transparent;
            }
            .crd-heading {
                color: #5c1616;
                font-weight: 600;
                font-size: 22px;
                line-height: 23px;
                text-align: center;
                background: #eee;
                opacity: .75;
                padding: 8px;
            }
            .middle-info {
                display: flex;
                position: relative;
                height: calc(100% - 73px);
                align-items: center;
                span {
                    width: 80px;
                    height: 80px;
                    font-size: 60px;
                    font-weight: 600;
                    text-align: center;
                    line-height: 81px;
                    border-radius: 40px;
                    color: #fff;
                    -webkit-box-shadow: 0 0 6px 2px rgba(255,255,255,1);
                    box-shadow: 0 0 6px 2px rgba(255,255,255,1);
                    margin: 0 auto;
                    overflow: hidden;
                    display: inline-block;
                }
                
            }
            .star {
                position: absolute;
                top: 50px;
                right: 10px;
                width: 32px;
                height: 32px;
                background-image: url(/assets/images/star-trans.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 16px;
                cursor: pointer;
                -webkit-box-shadow: 1px 1px 5px 0 rgba(255,255,255,1);
                box-shadow: 1px 1px 5px 0 rgba(255,255,255,1);
            }
            .more-info {
                position: absolute;
                bottom: 38px;
                left: 10px;
                padding: 4px 17px;
                font-size: 16px;
                line-height: 17px;
                border-radius: 50px;
                color: #ffffff;
                background-color: transparent;
                transition: all 0.5s;
                cursor: pointer;
                &:hover {
                    background-color: #e3f5e4;
                    color: #207905;
                }
            }
            .crd-footer {
                padding: 4px 10px;
                border-top: 1px solid #ffffff;
                text-align: right;
                position: absolute;
                bottom: 0;
                width: 100%;
                box-sizing: border-box;
                background-color: #9139db;
                .open {
                    padding: 4px 17px;
                    font-size: 16px;
                    line-height: 17px;
                    border-radius: 50px;
                    color: #ffffff;
                    background-color: transparent;
                    transition: all 0.5s;
                    display: inline-block;
                    cursor: pointer;
                    text-decoration: none;
                    &:hover {
                        background-color: #e3f5e4;
                        color: #207905;
                    }
                }
            }
        }
        &:nth-child(2n) {
            background-color: #db6739;
        }
        &:hover {
            -webkit-box-shadow: 3px 3px 3px -1px rgba(0,0,0,.75);
            box-shadow: 3px 3px 3px -1px rgba(0,0,0,.75);
        }
    }
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}