.card-main {
    padding: 0 2%;
    text-align: center;
    .card {
        position: relative;
        border-width: 1px;
        width: 330px;
        height: 150px;
        margin: 10px;
        // float: left;
        background-color: #9139db;
        display: inline-block;
        .card-inner {
            position: relative;
            height: 100%;
            .shape {
                position: absolute;
                width: 0;
                height: 0;
                border-bottom: 100px solid rgba(216,216,216,.315);
                border-right: 100px solid transparent;
            }
            .crd-heading {
                color: #5c1616;
                font-weight: 600;
                font-size: 22px;
                line-height: 23px;
                text-align: center;
                background: #eee;
                opacity: .75;
                padding: 8px;
            }
            .middle-info {
                display: flex;
                position: relative;
                height: calc(100% - 73px);
                align-items: center;
                span {
                    width: 80px;
                    height: 80px;
                    font-size: 60px;
                    font-weight: 600;
                    text-align: center;
                    line-height: 81px;
                    border-radius: 40px;
                    color: #fff;
                    -webkit-box-shadow: 0 0 6px 2px rgba(255,255,255,1);
                    box-shadow: 0 0 6px 2px rgba(255,255,255,1);
                    margin: 0 auto;
                    overflow: hidden;
                    display: inline-block;
                }
                
            }
            .star {
                position: absolute;
                top: 50px;
                right: 10px;
                width: 32px;
                height: 32px;
                background-image: url(/assets/images/star-trans.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 16px;
                cursor: pointer;
                -webkit-box-shadow: 1px 1px 5px 0 rgba(255,255,255,1);
                box-shadow: 1px 1px 5px 0 rgba(255,255,255,1);
            }
            .more-info {
                position: absolute;
                bottom: 38px;
                left: 10px;
                padding: 4px 17px;
                font-size: 16px;
                line-height: 17px;
                border-radius: 50px;
                color: #ffffff;
                background-color: transparent;
                transition: all 0.5s;
                cursor: pointer;
                &:hover {
                    background-color: #e3f5e4;
                    color: #207905;
                }
            }
            .crd-footer {
                padding: 4px 10px;
                border-top: 1px solid #ffffff;
                text-align: right;
                position: absolute;
                bottom: 0;
                width: 100%;
                box-sizing: border-box;
                background-color: #9139db;
                .open {
                    padding: 4px 17px;
                    font-size: 16px;
                    line-height: 17px;
                    border-radius: 50px;
                    color: #ffffff;
                    background-color: transparent;
                    transition: all 0.5s;
                    display: inline-block;
                    cursor: pointer;
                    text-decoration: none;
                    &:hover {
                        background-color: #e3f5e4;
                        color: #207905;
                    }
                }
            }
        }
        &:nth-child(2n) {
            background-color: #db6739;
        }
        &:hover {
            -webkit-box-shadow: 3px 3px 3px -1px rgba(0,0,0,.75);
            box-shadow: 3px 3px 3px -1px rgba(0,0,0,.75);
        }
    }
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

.card-edit {
    position: absolute;
    top: 97px;
    right: -230px;
    width: 230px;
    height: auto;
    padding-top: 5px;
    background: rgba(0,0,0,.356);
    padding: 25px;
    box-sizing: border-box;
    &.close {
        -webkit-animation-name: closeaction;
        animation-name: closeaction;
        -webkit-animation-duration: .4s;
        animation-duration: .4s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    &.open {
        -webkit-animation-name: openaction;
        animation-name: openaction;
        -webkit-animation-duration: .4s;
        animation-duration: .4s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }


    @-webkit-keyframes closeaction {
        from{right:0}to{right:-232px}
    }
    @keyframes closeaction {
        from{right:0}to{right:-232px}
    }
    @-webkit-keyframes openaction {
        from{right:-232px}to{right:0}
    }
    @keyframes openaction {
        from{right:-232px}to{right:0}
    }

    .from-group {
        margin-bottom: 15px;
        box-sizing: border-box;
        label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            font-weight: 700;
            color: #ffffff;
            font-size: 14px;
        }
        .from-control {
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 40px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 2px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        }
    }
    .btn-wrap {
        display: flex;
        justify-content: space-between;
        .btn {
            width: 73px;
            padding: 10px 10px;
            border: 1px solid #f7f7f7;
            background: #f7f7f7;
            color: #000000;
            font-size: 12px;
            border-radius: 2px;
            font-weight: 600;
            text-align: center;
            cursor: pointer;
        }
    }
}

.modal-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.479);
    .modal-inside {
        position: relative;
        min-width: 300px;
        max-width: 400px;
        margin: 0 auto;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 30px;
        border-radius: 5px;
        background: #dbdbdb;
        box-sizing: border-box;
        .btn-close-modal {
            border-radius: 4px;
            background-color: #f4511e;
            border: 1px solid #f4511e;
            color: #fff;
            text-align: center;
            font-size: 16px;
            padding: 10px 20px;
            transition: all 0.5s;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
    }
}